
body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #0e0e0e;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px;
  background-color: white;
  padding: 0;
}

.content1 {
  background-color: rgb(35, 35, 41);
}

.header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1200px;
  background-color: rgb(19, 19, 22);
}

.header .header-links{
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 28px;
}

.header .header-logo {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}

.links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.content1 {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 250px;
  height: 400px;
}

.content1 h1 {
  font-size: 36px;
  font: bolder;
  color: #F9FAF8;
  width: 400px;
  margin: 2px 0px;
}

.content1 p {
  font-size: 18px;
  color: #e5e7eb;
  width: 500px;
  margin-top: 0;
  margin-bottom: 12px;
}

.content1 button {
  background-color: #ee560f;
  color: #e5e7eb;
  font-size: 17px;
  font-weight: bolder;
  padding: 10px 36px;
  border-radius: 8px;
  border: none;
}

.right-content div {
  font-size: 18px;
  color: #e5e7eb;
  background-color: rgba(128, 128, 128, 0.534);
  display: flex;
  padding: 110px 140px;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 150px;
}

.content2-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  
}

.content2 ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 900px;
  gap: 150px;
}

.content2-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content2-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content2-list img {
  border: 3px solid #ee560f;
  border-radius: 20px;
  height: 170px;
  width: 170px;
}

.content2-column p {
  font-size: 18px;
  width: 150px;
  color: #1f2937;
}

.content3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px 300px 100px 300px;
  align-items: center;
}

.content3 p {
  margin: 0;
  max-width: 1000px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
}

.author {
  margin-left: auto;
  font-size: 26px;
  font-weight: bolder;
  margin-right: auto;
  margin-top: 20px;
}

.content4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisement {
  background-color: #ee560f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 100px;
  height: 180px;
  padding: 0px 100px;
  margin: 75px 0px;
}

.advertisement ul {
  list-style-type: none;
  padding: 0;
}

.ad-header {
  font-size: 28px;
  color: #F9FAF8;
  font-weight: bolder;
}

.ad-body {
  font-size: 20px;
  color: #e5e7eb;
}

#button {
  background-color: #ee560f;
  padding: 7px 34px;
  color: #F9FAF8;
  font-size: large;
  font-weight: bold;
  border: 2px solid #F9FAF8;
  border-radius: 10px;
}

.footer {
  background-color: rgb(19, 19, 22);
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  list-style-type: none;
  height: 65px;
}

.footer li {
  color: #F9FAF8;
  font-size: 18px;
}





